<div id="links-container">

<h1> Please sign up</h1>

<form action="/users" method="post">
  Email: <input type="text" name="email" value="<%= @user.email %>">
  Password: <input type="text" name="password">
  Confirm Password: <input type="text" name="password_confirmation">
  <input type="submit" value="Sign up" class="button signup">
</form>

</div>