<div id="links-container">
  <div id="new-link">
  <h1>Create a new link here!</h1>
    <form action="/links" method="post">
    <ul>
      <li><input type = "text" name ="url" placeholder="Url"></li>
      <li><input type ="text" name ="title" placeholder="Title"></li>
      <li><input type="text" name="tags" placeholder="Tags"></li>
    <input type="submit" value="Add link" class="button fancypants">
    </ul>
    </form>
  </div>
</div>