<div id="links-container">
  <div id="new-link">
  <h1>Create a new link here!</h1>
    <form action="/links" method="post">
    Url: <input type = "text" name ="url">
    Title: <input type ="text" name ="title">
    Tags: <input type="text" name="tags">
    <input type="submit" value="Add link" class="button containers">
    </form>
  </div>
</div>