<%if flash[:notice]%>
  <div class="notice">
  <%= flash[:notice]%> 
  </div>
<%end%>


<% if flash[:errors] && !flash[:errors].empty? %> <!-- #checking if the array exist and that it is not empty -->
  <ul class="errors">
    <% flash[:errors].each do |error| %>
     <li><%= error %></li>
    <%end%>
  </ul>
<%end%>  