
<!-- <p> Current links: </p> -->

<div id="links-container">
  <ul id="links">
    <% @links.each do |link|%> 
      <%= partial :link, :locals => {:link => link} %>
    <% end %>
  </ul>
</div>
 
 <% if @tag_list %>
<div id="links-container">
   <h2> Tags:</h2>
    <ul id="tags">
    
    <% @tag_list.each do |tag|%> 
      <%= partial :tags_list, :locals => {:tag => tag} %>
    <% end %>
   
  </ul>
</div>  
 <% end %>