
<!-- <p> Current links: </p> -->

<div id="links-container">
  <% if params[:text] %>
    <h2> <%= params[:text] %></h2>
  <% end %>
  <ul id="links">
    <% @links.each do |link|%> 
      <%= partial :link, :locals => {:link => link} %>
    <% end %>
  </ul>
</div>
 

<div id="links-container">
   <h2> Tags:</h2>
    <ul id="tags">
    
    <% @tag_list.each do |tag|%> 
      <%= partial :tags_list, :locals => {:tag => tag} %>
    <% end %>
   
  </ul>
</div>  
