<!DOCTYPE html> 
<html>
<head>
  <title>Bookmark Manager</title>
  <link type="text/css" rel="stylesheet" href="/css/reset.css">
  <link type="text/css" rel="stylesheet" href="/css/application.css">
</head> 
<body>
  
  <%= partial :welcome_message %>
  <%= partial :flash %>
  <%=yield%> 
</body>
</html>